:root {
    --primary-color: #2f66d4;
    --secondary-color: #808eff;
    --accent1-color: #ffffff;
    --accent2-color: #000000d5;
}
*{
    background-color: var(--secondary-color);
    margin: auto;
    font-family: "Molengo", serif;
}

body{
    max-width: 1100px;
    margin: 0px auto;
}
h1, h2{
    font-family: "Fontdiner Swanky", serif;
    font-size: 3rem;
    color: var(--accent2-color);
}
nav{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding: 0;
}
header {
    background-color: #204897;
    display: grid;
    grid-template-columns: 120px 1fr 1fr;
	padding: 30px;
	max-width: 1200px;
}
header img{
    margin: .5rem 0.25rem 0 1rem;
	width: 120px;
	height: auto;
    background-color: #204897;
    grid-column: 2;
    
}
header nav {
	display: flex;
    justify-content: center;
    align-items: center;
	text-decoration: none;
	font-size: 1.2rem;
    grid-column: 3;
    background-color: #204897;
}
header nav a{
    display: block;
    background-color: var(--primary-color);
    color: var(--accent1-color);
    border: 1px solid black;
    padding: 0 20px;
}
nav a:hover {
	color: var(--accent1-color);
	font-weight: 700;
	text-decoration: underline;
}
p{
    font-size:large;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-family: "Molengo", serif;
    font-size: 1.5rem;
}
.fontdiner-swanky-regular {
    font-family: "Fontdiner Swanky", serif;
    font-weight: 400;
    font-style: normal;
}
.molengo-regular {
    font-family: "Molengo", serif;
    font-weight: 400;
    font-style: normal;
}
article img{
    float: right;
    max-width: 200px;
    height: auto;
    margin: 10px;
    background-color: #0056df00;
    padding: 1rem;
}
article{
    position: absolute;
    display: flex;
    align-items:center;
    top: 200px;
    max-width: 85%;
    left: 6%;
    padding: 1rem;
    background-color: #0000008f;
}
article p{
    display: flex;
    align-items: center;
    justify-content: center;    
    background-color: #00000000;
    color: var(--accent1-color);
    order: 0;
}
.hero{
    display: block;
    width: 100%;
    height: auto;
}
div{
    position: relative;
    
}
div h1{
    position: absolute;
    left: 50px;
    top: 20px;
    background-color: #ffffff39;
    display: block;
    width: 1000px;
    text-align: center;
    padding: 10px 0;
}
.hero img{
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
}
a {
    text-decoration: none;
}
section h2{
    display: flex;
    max-width: 100%;
    justify-content: center;
}
section img{
    display: flex;
    max-width: 100%;
    height: auto;
    color: var(--accent1-color);
    background-color: var(--primary-color);
}
section figure img{
    display: grid;
    background-color: var(--primary-color)
}
footer{
    display: grid;
    grid-template-columns: 16fr 1fr 1fr 1fr;
    background-color: #204897;
    padding: 25px;
}
footer a{
    background-color: #00000000;
}
footer p{
    background-color: #00000000;
    color: var(--accent1-color);
    text-align: left;
}
footer a img{
    max-width: 40px;
    height: auto;
    background-color: #00000000;
}
section p{
    color: var(--accent1-color);
    background-color: var(--primary-color);
    font-size: 1rem;
    margin: 2rem;
}
figure {
    display: flex;
    flex-flow: column;
    margin: 1px auto;
    background-color: var(--primary-color)
  }
figcaption {
    background-color: #222;
    color: #fff;
    font-family: "Molengo", serif;
    text-align: center; 
    margin: unset;   
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    align-items: center;
    background-color: var(--primary-color);
    margin: 2rem;
    position: relative;
    padding: 1rem 0;
}
.gridt{
    grid-column: span 5;
    margin: 0;
    background-color: var(--primary-color);
    padding-top: 1rem;
}
.grid2{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: .5rem;
    grid-template-rows: auto auto;
    background-color: var(--primary-color);
    margin: 2rem;
    padding: 1rem;
}
/** Contact us ***********************************/
.sgrid{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: auto auto;
    position: relative;
}
.contactus h1, .contactus h2{
    grid-column: 1/-1;
    grid-row: 1;
    justify-self: right;
    padding: 1rem;
}
.contactform{
    grid-column: 2/6;
    grid-row: 2/4;
}
.radio-inputs{
    align-items: start;
}
.contactform fieldset, label, textarea, input{
    background-color: var(--accent1-color);
    margin: 0.5rem 0 0 0;
}
.signup input, .signup label{
    background-color: var(--secondary-color);
}
.address{
    grid-column: 7/12;
    grid-row: 2/4;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    color: var(--accent1-color);
}
.address a, address{
    color: #fff;
    background-color: var(--primary-color);
}
.gmap{
    max-width: 600px;
    width: 99%;
    height:300px;
}
.hrule{
    grid-column: 1/-1;
    border:solid 10px;
}
.employees{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/-1;
    gap: 0 8rem;
}
.employee{
    grid-row: 2;
    height: auto;
    width: 200px;
    padding: 1rem;
    
}
.sbutton{
    color: var(--accent1-color);
    background-color: var(--primary-color);
}
